@model IPagedList<Guide>
@{
	ViewData["Title"] = "Rehber Listesi";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
	<h4 class="card-header text-center">
		<label class="labelClass">Toplam Rehber Sayısı: @Model.TotalItemCount</label>
		Rehber Listesi
		<a href="/Admin/Guide/Add" class="tableButton btn btn-success"><i class="tf-icons mb-1 bx bx-plus-circle"></i> Ekle</a>
		<a href="/Admin/Guide/ExcelDownload" class="tableButton btn btn-info"><i class="tf-icons mb-1 bx bxs-download"></i> Excel</a>
	</h4>
	<div class="table-responsive text-nowrap">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Resim</th>
					<th>Ad Soyad</th>
					<th>Açıklama</th>
					<th>Durum</th>
					<th>Düzenle</th>
					<th>Sil</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				@foreach (var guide in Model)
				{
					<tr>
						<td>
							<img src="~/images/guide/@guide.GuideImage" height="40" width="40" class="rounded-circle" />
						</td>
						@if (guide.NameSurname.Length > 30)
						{
							<td>@guide.NameSurname.Substring(0, guide.NameSurname.Substring(0, 30).Length) ...</td>
						}
						else
						{
							<td>@guide.NameSurname</td>
						}
						@if (guide.Description.Length > 30)
						{
							<td>@guide.Description.Substring(0, guide.Description.Substring(0, 30).Length) ...</td>
						}
						else
						{
							<td>@guide.Description</td>
						}
						@if (guide.Status == true)
						{
							<td><a class="badge bg-label-success me-1" href="/Admin/Guide/ChangeStatus/@guide.Id">Aktif</a></td>
						}
						else
						{
							<td><a class="badge bg-label-danger me-1" href="/Admin/Guide/ChangeStatus/@guide.Id">Pasif</a></td>
						}
						<td><a class="badge bg-label-warning me-1" href="/Admin/Guide/Edit/@guide.Id">Düzenle</a></td>
						<td><a class="badge bg-label-danger me-1" href="/Admin/Guide/Delete/@guide.Id" onclick="return confirm('Rehber silinecek. Onaylıyor musun?')">Sil</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div style="display:flex;justify-content:center;">
		@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
		new PagedListRenderOptions {
		LiElementClasses = new string[] { "page-item" },
		PageClasses = new string[] { "page-link" }
		})
	</div>
</div>