@model IPagedList<Destination>
@{
    ViewData["Title"] = "Rotalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Tur Rotaları</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="~/">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Rotalar</li>
            </ul>
        </div>
    </div>
</section>
<section class="grids-1">
    <div class="grids py-lg-5 py-md-4">
        <div class="container">
            <div class="row">
                @foreach (var destination in Model)
                {
                    <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                        <div class="column">
                            <a href="/Destination/Detail/@destination.Id"><img src="~/images/destination/@destination.Image" alt="resim bulunamadı" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="/Destination/Detail/@destination.Id">@destination.City</a></h4>
                                <p>@destination.DayNight</p>
                                <div class="dst-btm">
                                    <h6 class="">Tarih</h6>
                                    <span style="color:#777777">@destination.Date.ToString("dd MMM yyyy")</span>
                                </div>
                                <div class="dst-btm">
                                    <h6 class="">Fiyat</h6>
                                    <span style="color:#777777">@String.Format("{0:n}", @destination.Price) ₺</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div style="display:flex;justify-content:center;">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
            })
        </div>
    </div>
</section>