@model List<Destination>
<div class="col-xl-4 col-lg-12">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title text-center">Tur Rotaları</h4>
			<a class="heading-elements-toggle">
				<i class="fa fa-ellipsis-v font-medium-3"></i>
			</a>
			<div class="heading-elements">
				<ul class="list-inline mb-0">
					<li>
						<a data-action="reload">
							<i class="ft-rotate-cw"></i>
						</a>
					</li>
					<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="card-content">
			<div id="recent-buyers" class="media-list">
				@foreach (var destination in Model)
				{
					<a href="/Destination/Detail/@destination.Id" target="_blank" class="media border-0">
						<div class="media-left pr-1">
							<span class="avatar avatar-md">
								<img class="media-object rounded-circle" style="height:45px;width:40px;" src="~/images/destination/@destination.Image" />
								<i></i>
							</span>
						</div>
						<div class="media-body w-100">
							<span class="list-group-item-heading">
								@destination.City Turu
							</span>
							<ul class="list-unstyled users-list m-0 float-right">
								@String.Format("{0:n}", @destination.Price) ₺
							</ul>
							<p class="list-group-item-text mb-0">
								<span class="blue-grey lighten-2 font-small-3"> @destination.Date.ToString("dd MMMM yyyy") <span style="float:right">@destination.DayNight</span> </span>
							</p>
						</div>
					</a>
				}
			</div>
		</div>
		<div class="card-body text-center">
			<a href="/Member/Destination/Index" class="card-link">Tümünü Gör</a>
		</div>
	</div>
</div>