@model IPagedList<Destination>
@{
    ViewData["Title"] = "Rotalar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h4 class="card-header text-center">Rota Listesi<a href="/Admin/Destination/Add" class="btn btn-primary" style="float:right; color: white;">Ekle</a></h4>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Görsel</th>
                    <th>Rota</th>
                    <th>Gün Gece</th>
                    <th>Kapasite</th>
                    <th>Fiyat</th>
                    <th>Tarih</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var destination in Model)
                {
                    <tr>
                        <td>
                            <img src="~/images/destination/@destination.Image" alt="Resim bulunamadı" height="40" width="40" class="rounded-circle" />
                        </td>
                        <td>@destination.City</td>
                        <td>@destination.DayNight</td>
                        <td>@destination.Capacity</td>
                        <td>@destination.Price</td>
                        <td>@destination.Date.ToShortDateString()</td>
                        <td>
                            @if (destination.Status == true)
                            {
                                <a href="/Admin/Destination/ChangeStatus/@destination.Id" class="badge bg-label-success me-1">Aktif</a>
                            }
                            else
                            {
                                <a href="/Admin/Destination/ChangeStatus/@destination.Id" class="badge bg-label-danger me-1">Pasif</a>
                            }
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Admin/Destination/Detail/@destination.Id"><i class="bx bx-detail me-1"></i> Detay</a>
                                    <a class="dropdown-item" href="/Admin/Destination/Edit/@destination.Id"><i class="bx bx-edit me-1"></i> Düzenle</a>
                                    <a class="dropdown-item" href="/Admin/Destination/Delete/@destination.Id"><i class="bx bx-trash me-1"></i> Sil</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="display:flex;justify-content:center;">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
        new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
        })
    </div>
</div>